.navBox {
    padding: 0;
    background-color: #9e4414;
}

#navBoxList {

}

#navBoxList a {
    color: #fff;
    font-weight: bold;
    font-size: 1.24rem;
    padding: 1rem 1.1rem;
}

#navBoxList a.none {
    background-color: inherit;
}

#navBoxList a:hover {
    color: #000;
    background-color: #eee;
}

#navBoxList a.active {
    color: #000;
    background-color: #eee;
}

#navBoxList a.lesempolem:hover {
    color: #fff;
    background-color: #9E8914;
}
