.footer {
    position: relative;
    margin-top: 15px;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #f8f9fa;
}

.footer .links {
    margin-top: 16px;
    float: left;
}

.footer .copy {
    margin-top: 22px;
    float: right;
}

.footer .image {
    margin-right: 4px
}
