.footer {
    margin: 25px 0 0;
    padding: 10px 0 35px;
}

.footer h4 {
    font-weight: bold;
    color: #ffdbc7;
}

.footer ul {
    padding: 0;
    list-style: none;
}

.footer ul li a {
    color: #ffdbc7;
}

.footer ul li a:hover {
    color: #eee;
}

.footer p {
    color: #ffdbc7;
}

.footer p a:hover{
    color: #eee;
}
