/*
  https://colors.muz.li/color-palette-generator/e2581d
 */

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/roboto-v29-latin-ext_latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('./fonts/roboto-v29-latin-ext_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('./fonts/roboto-v29-latin-ext_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */ url('./fonts/roboto-v29-latin-ext_latin-regular.woff') format('woff'), /* Modern Browsers */ url('./fonts/roboto-v29-latin-ext_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */ url('./fonts/roboto-v29-latin-ext_latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('./fonts/roboto-v29-latin-ext_latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('./fonts/roboto-v29-latin-ext_latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('./fonts/roboto-v29-latin-ext_latin-700.woff2') format('woff2'), /* Super Modern Browsers */ url('./fonts/roboto-v29-latin-ext_latin-700.woff') format('woff'), /* Modern Browsers */ url('./fonts/roboto-v29-latin-ext_latin-700.ttf') format('truetype'), /* Safari, Android, iOS */ url('./fonts/roboto-v29-latin-ext_latin-700.svg#Roboto') format('svg'); /* Legacy iOS */
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', serif;
    background-color: #9e4414;
}

.main {
    padding: 20px 0;
    background-color: #EEE;
}


h1 {
    font-size: 1.75rem;
    font-weight: bold;
    color: #553D00;
}

h2 {
    font-size: 1.45rem;
    font-weight: bold;
    color: #553D00;
}

h3 {
    font-size: 1.3rem;
    font-weight: bold;
    color: #553D00;
}

p {
    font-size: 1rem;
    text-align: justify;
}

a {
    color: #9E4414;
    text-decoration: none;
}

a:hover {
    color: #c45640;
}

* {
    box-sizing: border-box;
}

.gallery div {


}

.gallery img {
    display: block;
    margin: 5px 5px;
    border: 3px #c45640 solid;
}

#pag li a {
    color: #9e4414;
    background-color: #fff;
    border: 1px solid #9e4414;
}

#pag li span, #pag li a:hover {
    color: #FFF;
    background-color: #9e4414;
    border: 1px solid #9e4414;
}

ul, ol {
    padding-left: 13px;
}
